{
  "version": 1,
  "minor_version": 3,
  "key": "core.config",
  "data": {
    "latitude": 45.80067175,
    "longitude": 15.971218799999999,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "Home",
    "time_zone": "Europe/Zagreb",
    "external_url": null,
    "internal_url": null,
    "currency": "EUR",
    "country": "HR",
    "language": "en"
  }
}